
<div class="footer-dark" style="position: relative; bottom: 0; width:100%;">
    <footer>
        <div class="container">
            <div class="row">


                <div class="col-md-3 mr-5 ml-5 item text">
                    <h3 style="font-size: 22px; opacity: 0.9;">ThyroidML</h3>
                    <p style="text-align: justify;">ThyroidML is a machine learning application for predicting likelihood of thyroid disease based
                        on sample data.</p>
                
                </div>
                <div class="ml-5">
                    
                </div>
                <div class="col-sm-3 col-md-3 item ml-2" style="padding-right: 40px;">
                    <h3 style="font-size: 22px; opacity: 0.9;">About</h3>
                    <ul>
                        <li><a href="{{url_for('faq')}}">FAQs</a></li>
                        <li><a href="{{url_for('ambition')}}">Ambition</a></li>
                        <li><a href="/">ThyroidML</a></li>
                    </ul>
                </div>


                <div class="col-md-3 col-sm-6 item social ml-2 mt-0" style="padding-right:60px;">
                    <h3 style="font-size: 22px; opacity: 0.9;">Follow Us</h3>
                    <ul>
                    <a href="#"><i class="icon ion-social-twitter" style='font-size:30px; margin-right: 12px; opacity: 0.5;'></i></a><a
                    href="#"><i style='font-size:30px; margin-right: 12px; opacity: 0.5;' class="icon ion-social-instagram"></i></a><a
                    href="#"><i style='font-size:30px; margin-right: 12px; opacity: 0.5;' class="icon ion-social-facebook"></i></a>
                    </ul>
                </div>
            </div>
            <hr style=" border-top: 1px solid #696969;">
            <div class="row">
                <div class="col-6 ml-5">
                    <p>© 2020 <a style='color: white;' href="/">ThyroidML</a>. Developed by <a
                            href="https://shahibur-rahman.netlify.app/" style='color: white;' target="_blank">Shahibur
                            Rahman</a>.
                    </p>
                </div>

            </div>

        </div>
    </footer>
</div>
</div>